@font-face {
    font-family: "Cairo";
    src: url(../static/Cairo-VariableFont_slnt\,wght.ttf);
    font-weight: bolder;
    font-style: normal;
}
body{
    font-family: "Cairo";
}

.custom-navbar{
    border-bottom: 3px solid #dbdbdb;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
}

.custom-navbar img{
    width: 100px;
}


.custom-form-control,
.dropdown a.custom-btn{
    border: 1px solid #EBEBEB ;
    box-shadow: none ;
    border-radius: 2px;
    color: #868686;
    height: 38px;
    padding: 6px 16px 7px;
    transition:  all 0.3s ease;
}
.custom-form-control:focus{
    border:1px solid #C2101E;
    box-shadow: 0 0 2px 0 #C2101E;
    color: #868686;
}

.dropdown a.custom-btn:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color:#ff3956 ;
}
.dropdown a.custom-btn:focus{
    color:#ff3956 ;
}

.dropdown a.categories{
    border-right:none !important;
    border-radius: 0;
}

.custom-dropdown-menu{
    border: 2px ;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    min-width: 100px;
    color: #777;
}

.search-btn{
    background-color: #ff3956;
    color: #d4d4d4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 15px 7px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover{
    background-color: #C2101E;
    border: none;
    color: #d4d4d4;
}

.nav-link{
    color: #868686;
    padding:15px ;
}

.custom-navbar .navbar-nav li.active a.nav-link{
    color:#ff3956 ;
    font-weight:700 ;
    border-bottom:1px solid #ff3956;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color:#e7e7e7 ;
}

.custom-navbar-menu li a:hover{
    background-color: #FFE7EA;
}

.custom-navbar .btn-icon{
    padding: 5px 10px ;
    color:#777 ;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    margin-right:15px ;
}
#carousel-featur{
    background-color: #F7F8F3;
    height: 400px;
    padding-top:25px ;
}

#carousel-featur .carousel-item img{
    height: 380px;
}

#carousel-featur .carousel-item .product-datails{
    border: 1px solid #DDDDDB;
    position: relative;
    top: 50px;
    height: 200px;
    background-color:#F7F8F3 ;
    width: 450px;
}

#carousel-featur .carousel-item .product-datails h1 {
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

#carousel-featur .product-datails .product-category{
    border: 1px solid #DDDDDB;
    padding: 10px;
    position: absolute ;
    top: -30px;
    right: -33px ;
    background-color:#F7F8F3 ;
}

#carousel-featur .product-datails a{
    margin-top: 15px;
}

.custom-btn-outline-warning{
    background-color: transparent;
    border-color:#F8ad47 ;
    color: #F8ad47;
}

.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover{
    background-color: transparent;
    border-color:#b86d07 ;
    color: #b86d07
}

.sale{
    background-color: #53CCD7;
    color: #ddd;
    font-weight: bold;
    position: absolute;
}

.sale.large{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    left: -15px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    padding: 35px;
    line-height: 90%;
    flex-direction: column;
    transform: rotate(-25deg);
}

.custom-carousel-indicators{
    top: 235px;
    right:41% ;
}

.custom-carousel-indicators-primary{
    height: 70px !important; 
    width: 70px !important;
    opacity: 1 !important;
    border:1px solid #DDDDDB !important ;
    margin: 0 !important;
    margin-left: 5px !important;
}

.custom-carousel-indicators-primary.active{
    border-color: #b86d07 !important;
}

#carousel-featur .carousel-control-prev .fa-chevron-right,
#carousel-featur .carousel-control-next .fa-chevron-left{
    color: #868686;
    font-size: 38px;
}